In [1]:
import pandas as pd

In [4]:
def loadCSV(filename):
    return pd.read_csv(filename)

In [17]:
def combine(prefix):
    s_1=loadCSV(prefix+"_0_100_simulation.csv")
    s_2=loadCSV(prefix+"_100_200_simulation.csv")
    s_3=loadCSV(prefix+"_200_300_simulation.csv")
    s_4=loadCSV(prefix+"_300_400_simulation.csv")
    s_5=loadCSV(prefix+"_400_500_simulation.csv")
    return pd.concat([s_1, s_2, s_3, s_4, s_5])

In [20]:
s_0=loadCSV("0_100_200_simulation.csv")
s_0

     Unnamed: 0  S  iteration       R_e  I_max
0             0  0       1197  3.672131    382
1             1  0        923  3.600000    396
2             2  0        997  2.813333    342
3             3  0       1289  3.427184    306
4             4  0        704  3.283871    361
..          ... ..        ...       ...    ...
195         195  0        938  3.975309    361
196         196  0       1258  4.122642    327
197         197  0       1334  3.965812    392
198         198  0       1426  4.378947    342
199         199  0       1137  2.725146    586

[200 rows x 5 columns]